<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="<%= I18n.locale.to_sym == :ar ? 'rtl' : 'ltr' %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RailsYeast</title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= analytics_tag 'UA-28077649-1' %>
  </head>
  <body class="<%= I18n.locale.to_sym == :ar ? 'rtl' : 'ltr' %>">

    <%= render :partial => 'layouts/header' %>

    <div class="primary">
      <div class="primary-container">
      <%= yield :primary %>
    </div><!--/primary-->

    <div class="wrapper clearfix <%= 'with_secondary' if content_for?(:secondary) %>">
      <div class="header">
        <!-- Flash messages -->
        <% [:notice, :error, :alert].each do |level| %>
        <% unless flash[level].blank? %>
        <div class="flash-message <%= flash_class(level) %> fade in">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <%= flash[level] %>
        </div>
        <% end %>
        <% end %>
        <%= yield :header %>
      </div><!--/header-->
      <div class="container content-container">
        <% if content_for? :page_title %>
        <div class="page-header">
          <h1><%= yield :page_title %></h1>
          <% if content_for? :context %>
          <div class="actions context">
            <%= yield :context %>
          </div>
          <% end %>
        </div>
        <% end %>
        <div class="pull-left content">
          <%= yield %>

        </div> <!-- /content -->
        <% if content_for? :secondary %>
        <div class="pull-right secondary">
          <%= yield :secondary %>
        </div><!--/secondary-->
        <% end %>
      </div>

      <%= render :partial => 'layouts/footer' %>
    </div> <!-- /wrapper -->

    <!-- hidden field to store user auth token if they are logged in -->
    <% if user_signed_in? %>
    <%= hidden_field_tag 'auth_token', current_user.authentication_token %>
    <%= hidden_field_tag 'logged_in_user_id', current_user.id %>
    <% end %>

    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
  </html>
