<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="<%= I18n.locale.to_sym == :ar ? 'rtl' : 'ltr' %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : t(:app_name) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= analytics_tag %>
  </head>
  <body class="<%= I18n.locale.to_sym == :ar ? 'rtl' : 'ltr' %>">
	<%= yield %>
  	<%= flash[:error] %>
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
